# Tugas 1 Dissimilarity - Menghitung Jarak

<h2> Dissimilarity - Mengitung Jarak</h2>

1.   Memahami tipe data
2.   Tentukan jarak dari data yang dibuat, data mengandung 4 tipe data:


        *   Numerik
        *   Kategorical / Nominal
        *   Binary Asimetris / Simestris
        *   Ordinal

## 1. Tipe data

<h2>1.1 Atribut Nominal / Kategorical</h2>

<p>Nominal berarti "berkaitan dengan nama." Nilai atribut nominal adalah simbol atau nama benda. Setiap nilai mewakili beberapa jenis kategori, kode, atau status, sehingga atribut nominal juga disebut sebagai kategori. Nilai tidak memiliki urutan yang berarti. Dalam ilmu komputer, nilai juga dikenal sebagai pencacahan.</p>

<h2>1.2 Atribut Binary (Biner)</h2>

<p>Atribut biner adalah atribut nominal dengan hanya dua kategori atau status 0 atau 1, di mana 0 biasanya berarti bahwa atribut tersebut tidak ada, dan 1 berarti ada. Atribut biner disebut sebagai Boolean jika kedua status sesuai dengan benar dan salah.</p>

<h2>1.3 Ordinal</h2>

<p>Atribut ordinal adalah atribut dengan kemungkinan nilai yang memiliki urutan atau peringkat yang bermakna di antara mereka, tetapi besarnya antara nilai-nilai yang berurutan tidak diketahui.</p>

<h2>1.4 Numeric</h2>

<p>Atribut numerik bersifat kuantitatif; yaitu, itu adalah kuantitas yang dapat diukur, direpresentasikan dalam bilangan bulat atau nilai nyata. Atribut numerik dapat berskala interval atau berskala rasio.</p>

## 2. Menetukan jarak dari data

<h2>Install Library</h2>

In [111]:
%%capture
pip install --upgrade google-api-python-client

In [112]:
%%capture
pip install pandas

In [113]:
%%capture
pip install seaborn

<h2>Import Module</h2>

In [114]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns
import math
import numpy as np

<h2>Ambil Dataset</h2>

In [115]:
df = pd.read_csv("https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv")

In [116]:
df.head()

,Nama,Jenis Kelamin,Gaji,Pendidikan,Status,Hobby,Merokok
0,Andi,Laki-laki,7000000,S1,Menikah,Bermain bola,Ya
1,Budi,Laki-laki,5000000,SMA,Belum Menikah,Bermain musik,Tidak
2,Cici,Perempuan,4000000,D3,Menikah,Bermain bola,Ya
3,Didi,Laki-laki,8000000,S2,Belum Menikah,Bermain film,Ya
4,Eni,Perempuan,6000000,S1,Menikah,Bermain film,Tidak

<h2>1. Menghitung Jarak Dissimilarity Atribut Numeric</h2>

Menghitung jarak menggunakan metode Euclidean Distance

*   Ambil Sampel pada Gaji

In [117]:
data_Gaji = df[["Gaji"]]

data_Gaji

      Gaji
0  7000000
1  5000000
2  4000000
3  8000000
4  6000000

*   Menghitung Jarak menggunakan metode Euclidean Distance

Euclidean Distance dapat digunakan untuk menghitung  jarak euclidean antara dua data dengan menghitung akar kuadrat dari selisih kuadrat antara nilai atribut Gaji.


Rumus Euclidean Distance: jarak(i,j) = sqrt((Gaji_i - Gaji_j)^2)


Keterangan:

* jarak(i,j) : Jarak dissimilarity antara Gaji responden i dan j
* Gaji_i : Nilai Gaji responden i
* Gaji_j : Nilai Gaji responden j

Rumus tersebut dapat dijelaskan sebagai berikut:

1. Ambil nilai Gaji responden i dan j
2. Hitung selisih antara nilai Gaji responden i dan j
3. Kuadratkan selisih tersebut
4. Hitung akar kuadrat dari hasil kuadrat pada langkah 3
5. Hasil pada langkah 4 merupakan nilai jarak dissimilarity antara Gaji responden i dan j

In [118]:
import pandas as pd
import math

# Baca data dari URL
url = 'https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv'
data = pd.read_csv(url)

# Ambil data Gaji dari dua data yang ingin dihitung jarak dissimilaritynya
gaji1 = data.loc[data['Nama'] == 'Andi']['Gaji'].iloc[0]
gaji2 = data.loc[data['Nama'] == 'Budi']['Gaji'].iloc[0]

# Hitung jarak dissimilarity Gaji menggunakan Euclidean Distance
jarak = math.sqrt((gaji1 - gaji2)**2)

# Tampilkan hasil perhitungan
print('Jarak dissimilarity Gaji antara Andi dan Budi adalah:', jarak)

Jarak dissimilarity Gaji antara Andi dan Budi adalah: 2000000.0

In [119]:
import pandas as pd
import math

# Baca data dari URL
url = 'https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv'
data = pd.read_csv(url)

# Buat kolom kosong untuk menyimpan jarak antara Gaji setiap pasangan responden
kolom_jarak = []
for i in range(len(data)):
    for j in range(i+1, len(data)):
        gaji1 = data.iloc[i]['Gaji']
        gaji2 = data.iloc[j]['Gaji']
        jarak = math.sqrt((gaji1 - gaji2)**2)
        kolom_jarak.append(jarak)

# Buat tabel baru untuk menyimpan hasil perhitungan
jumlah_pasangan_responden = len(data) * (len(data)-1) // 2
kolom_responden1 = []
kolom_responden2 = []
for i in range(len(data)):
    for j in range(i+1, len(data)):
        kolom_responden1.append(data.iloc[i]['Nama'])
        kolom_responden2.append(data.iloc[j]['Nama'])
        
df_jarak = pd.DataFrame({'Responden 1': kolom_responden1,
                         'Responden 2': kolom_responden2,
                         'Jarak Gaji': kolom_jarak})

# Tampilkan hasil perhitungan
print(df_jarak)

  Responden 1 Responden 2  Jarak Gaji
0        Andi        Budi   2000000.0
1        Andi        Cici   3000000.0
2        Andi        Didi   1000000.0
3        Andi         Eni   1000000.0
4        Budi        Cici   1000000.0
5        Budi        Didi   3000000.0
6        Budi         Eni   1000000.0
7        Cici        Didi   4000000.0
8        Cici         Eni   2000000.0
9        Didi         Eni   2000000.0

<h2>2. Menghitung Jarak Dissimilarity Atribut Nominal / Kategorical</h2>

Menghitung jarak menggunakan metode Jaccard Distance atau Hamming Distance

*   Ambil Sampel pada Hobby

In [120]:
data_hobby = df[["Hobby"]]

data_hobby

           Hobby
0   Bermain bola
1  Bermain musik
2   Bermain bola
3   Bermain film
4   Bermain film

*   Menghitung Jarak menggunakan metode Jaccard Similarity

Metode Jaccard Distance dapat digunakan untuk menghitung jarak dissimilarity antara atribut nominal seperti hobby. Metode ini menghitung jumlah elemen yang sama di antara dua set dan membaginya dengan jumlah elemen yang berbeda di antara dua set.

Rumus Jaccard Distance:
J(A, B) = |A ∩ B| / |A ∪ B|

dengan:

A = himpunan elemen hobby responden pertama

B = himpunan elemen hobby responden kedua

In [121]:
import pandas as pd

# Membaca dataset dari file CSV
df = pd.read_csv("https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv")

# Mengambil kolom Nama dan Hobby dari semua responden
respondents = df["Nama"].tolist()
hobbies = []
for i in range(len(df)):
    hobbies.append(set(df.loc[i, "Hobby"].split(",")))

# Menghitung jarak dissimilarity menggunakan metode Jaccard Similarity
distances = []
for i in range(len(hobbies)):
    row = []
    for j in range(len(hobbies)):
        if i == j:
            row.append(0)
        else:
            jaccard_sim = len(hobbies[i].intersection(hobbies[j])) / len(hobbies[i].union(hobbies[j]))
            dissimilarity = 1 - jaccard_sim
            row.append(dissimilarity)
    distances.append(row)

# Menyimpan hasil ke dalam tabel dataFrame
df_distances = pd.DataFrame(distances, index=respondents, columns=respondents)

# Menampilkan tabel jarak dissimilarity
print(df_distances)

      Andi  Budi  Cici  Didi  Eni
Andi   0.0   1.0   0.0   1.0  1.0
Budi   1.0   0.0   1.0   1.0  1.0
Cici   0.0   1.0   0.0   1.0  1.0
Didi   1.0   1.0   1.0   0.0  0.0
Eni    1.0   1.0   1.0   0.0  0.0

*   Menghitung Jarak menggunakan metode Hamming Distance

Metode Hamming Distance dapat digunakan untuk menghitung jarak dissimilarity antara atribut binary seperti hobby. Metode ini menghitung jumlah elemen yang berbeda di antara dua set.

Rumus Hamming Distance:
d(A, B) = Σi=1n(Ai ≠ Bi)

In [122]:
import pandas as pd

# Membaca dataset dari file CSV
df = pd.read_csv("https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv")

# Mengambil kolom Nama dan Hobby dari semua responden
respondents = df["Nama"].tolist()
hobbies = []
for i in range(len(df)):
    hobbies.append(df.loc[i, "Hobby"].split(","))

# Menghitung jarak dissimilarity menggunakan metode Hamming Distance
distances = []
for i in range(len(hobbies)):
    row = []
    for j in range(len(hobbies)):
        if i == j:
            row.append(0)
        else:
            hamming_dist = sum(hobbies[i][k] != hobbies[j][k] for k in range(len(hobbies[i])))
            row.append(hamming_dist)
    distances.append(row)

# Menyimpan hasil ke dalam tabel dataFrame
df_distances = pd.DataFrame(distances, index=respondents, columns=respondents)

# Menampilkan tabel jarak dissimilarity
print(df_distances)

      Andi  Budi  Cici  Didi  Eni
Andi     0     1     0     1    1
Budi     1     0     1     1    1
Cici     0     1     0     1    1
Didi     1     1     1     0    0
Eni      1     1     1     0    0

<h2>3. Menghitung Jarak Dissimilarity Atribut Binary (Biner)</h2>

Menghitung jarak menggunakan metode Hamming Distance

*   Ambil Sampel pada Status

In [123]:
data_status = df[["Jenis Kelamin", "Status"]]

data_status

  Jenis Kelamin         Status
0     Laki-laki        Menikah
1     Laki-laki  Belum Menikah
2     Perempuan        Menikah
3     Laki-laki  Belum Menikah
4     Perempuan        Menikah

Hamming distance = jumlah posisi di mana nilai atribut binary berbeda antara kedua data


Jadi, Hamming distance merupakan jumlah posisi di mana nilai atribut binary pada kedua data berbeda. Semakin besar nilai Hamming distance, semakin besar pula jarak dissimilarity antara kedua data tersebut.

In [124]:
import pandas as pd

# Load data
df = pd.read_csv("https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv")

# Define binary attributes
binary_attrs = ["Jenis Kelamin", "Status"]

# Define function to calculate Hamming distance
def hamming_distance(x, y):
    dist = 0
    for attr in binary_attrs:
        if x[attr] != y[attr]:
            dist += 1
    return dist

# Calculate dissimilarity matrix using Hamming distance
n = len(df)
dissimilarity = [[0] * n for i in range(n)]
for i in range(n):
    for j in range(i+1, n):
        dist = hamming_distance(df.iloc[i], df.iloc[j])
        dissimilarity[i][j] = dist
        dissimilarity[j][i] = dist

# Create DataFrame for dissimilarity matrix
cols = df["Nama"].tolist()
dissimilarity_df = pd.DataFrame(dissimilarity, columns=cols, index=cols)

# Print dissimilarity DataFrame
print(dissimilarity_df)

      Andi  Budi  Cici  Didi  Eni
Andi     0     1     1     1    1
Budi     1     0     2     0    2
Cici     1     2     0     2    0
Didi     1     0     2     0    2
Eni      1     2     0     2    0

<h2>4. Menghitung Jarak Dissimilarity Atribut Ordinal</h2>

Menghitung jarak menggunakan metode Ordinal Distance

*   Ambil Sampel pada Pendidikan

In [125]:
data_pendidikan = df[["Pendidikan"]]

data_pendidikan

  Pendidikan
0         S1
1        SMA
2         D3
3         S2
4         S1

Metode Ordinal Distance adalah metode yang digunakan untuk mengukur jarak dissimilarity antara dua data ordinal. Dalam hal ini, data ordinal yang digunakan adalah pendidikan reponden dengan ranking seperti: SD, SMP, SMA, D1, D2, D3, S1, S2, S3.

Rumus yang digunakan dalam metode ini adalah:

$ d_{ij} = |r_i - r_j| $

dengan:

* $d_{ij}$ adalah jarak dissimilarity antara data ke-$i$ dan ke-$j$,
* $r_i$ dan $r_j$ adalah ranking dari data ke-$i$ dan ke-$j$.

In [126]:
import pandas as pd
import numpy as np

# Load dataset from URL
url = "https://raw.githubusercontent.com/iamapinn/iamapinn.github.io/gh-pages/data-mining-dataset.csv"
df = pd.read_csv(url)

# Define the ranking of education level
ranking = {'SD': 0, 'SMP': 1, 'SMA': 2, 'D1': 3, 'D2': 4, 'D3': 5, 'S1': 6, 'S2': 7, 'S3': 8}

# Define a function to compute Ordinal Distance
def ordinal_distance(x, y):
    return abs(ranking[x] - ranking[y])

# Calculate dissimilarity matrix using Ordinal Distance
dissimilarity_matrix = np.zeros((len(ranking), len(ranking)))
for i, edu1 in enumerate(ranking.keys()):
    for j, edu2 in enumerate(ranking.keys()):
        dissimilarity_matrix[i][j] = ordinal_distance(edu1, edu2)

# Convert dissimilarity matrix to data frame and set the row and column labels
df_dissimilarity = pd.DataFrame(dissimilarity_matrix, columns=ranking.keys(), index=ranking.keys())

# Print the result
print(df_dissimilarity)

      SD  SMP  SMA   D1   D2   D3   S1   S2   S3
SD   0.0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0
SMP  1.0  0.0  1.0  2.0  3.0  4.0  5.0  6.0  7.0
SMA  2.0  1.0  0.0  1.0  2.0  3.0  4.0  5.0  6.0
D1   3.0  2.0  1.0  0.0  1.0  2.0  3.0  4.0  5.0
D2   4.0  3.0  2.0  1.0  0.0  1.0  2.0  3.0  4.0
D3   5.0  4.0  3.0  2.0  1.0  0.0  1.0  2.0  3.0
S1   6.0  5.0  4.0  3.0  2.0  1.0  0.0  1.0  2.0
S2   7.0  6.0  5.0  4.0  3.0  2.0  1.0  0.0  1.0
S3   8.0  7.0  6.0  5.0  4.0  3.0  2.0  1.0  0.0

Dalam program di atas, didefinisikan sebuah dictionary ranking yang memuat ranking pendidikan dari yang paling rendah (SD) hingga yang tertinggi (S3). Lalu, didefinisikan sebuah fungsi ordinal_distance yang menghitung jarak dissimilarity antara dua data ordinal menggunakan rumus di atas.

Kemudian, dilakukan perulangan untuk mengisi matriks dissimilarity_matrix dengan nilai jarak dissimilarity antara masing-masing pendidikan reponden menggunakan fungsi ordinal_distance. Matriks ini kemudian diubah menjadi data frame df_dissimilarity dengan menggunakan pd.DataFrame dan diberi label pada baris dan kolom menggunakan columns dan index.

Dengan demikian, output dari program ini adalah sebuah tabel dataFrame yang menunjukkan jarak dissimilarity antara masing-masing pendidikan reponden pada dataset menggunakan metode Ordinal Distance.